* {
  box-sizing: border-box;
}

.hero {
  position: relative;
}

header, footer {
  background-color: navy;
  color: white;
}

nav {
  background-color: grey;
  display: flex;
  gap: 1rem;
}

nav a:hover {
  color: lightgray;
}